<!doctype html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>CSV Analyzer</title>
     <link href="global.css" rel="stylesheet" type="text/css">

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type="text/javascript" src="csv.js"></script>
  </head>
  <body>
    <script type="text/html" id='mytemplate'>
	<table class="center">
	  <% _.each(items, function(fila, t) { %>
	    <% if (error[t] == false) %>
	    	<tr>
            <% else %> 
 		<tr class="error">
	    <% _.each(fila, function(name) { %>
	      <td><%= name %></td>
	    <% }); %>
	    </tr>
	  <% }); %>
	</table>
    </script>
    <h1>Comma Separated Value Analyzer</h1>
    <div>
      <i>Write a CSV string. Click the table button. The program outputs a table with the specified data.</i>
    </div>
    <table>
        <th>CSV string:</th>
        <td> <textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
        <tr>
	</tr>
    </table>
    
    <button type="button">Table:</button><br>
    <span class="output" id="finaltable"></span>
  </body>
</html>
